# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
gomin-sageori_Server/src/main/resources/application.properties
gomin-sageori_Server/src/main/resources/application.properties
gomin-sageori_Server/src/main/application.properties

# Tools for Gitpod
gomin/bin gomin/include gomin/lib gomin/share gomin/src

# 가상환경
/gomin/* 
gomin-sageori_Server/src/main/.DS_Store
gomin-sageori_Server/src/main/java/.DS_Store
gomin-sageori_Server/src/main/java/MAT/gominsageori/.DS_Store
gomin-sageori_Server/src/main/java/MAT/.DS_Store
gomin-sageori_Server/src/.DS_Store
gomin-sageori_Server/src/main/resources/.DS_Store
gomin-sageori_Server/.DS_Store
.DS_Store

SetUpProxy.js
