@font-face {
  font-family: "tway_air";
  src: url("../../fonts/tway_air.ttf");
}

@font-face {
  font-family: "cafe24surround_air";
  src: url("../../fonts/Cafe24SsurroundAir.ttf");
}

@font-face {
  font-family: "pretendard";
  src: url("../../fonts/Pretendard-Medium.otf");
}
